---
---

@import "minima"; 

// ここから自分のカスタムCSS

// Oradano明朝のWebフォント読み込み
@font-face {
  font-family: 'Oradano Mincho';
  src: url('/assets/fonts/Oradano-mincho-GSRR.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Oradano Mincho', serif;
  background-color: #fefefe;
}

h1, h2, h3 {
  color: #336699;
}

.svg-icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 0.3rem;
}