---
---

@import "minima"; 

// ここから自分のカスタムCSS
body {
  font: 400 16px/1.5 Arial, YuGothic, 游ゴシック, "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", sans-serif;
  background-color: #fefefe;
}

h1, h2, h3 {
  color: #336699;
}
