---
---

@import "minima"; 

// ここから自分のカスタムCSS



body {
  font-family: 'Shippori Mincho', serif;
  background-color: #fefefe;
}

.post h1.post-title {
  font-size: 1.8rem;
  color: black;
  text-align: center;
}

.post .post-content {
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 42rem; // 約672px、読みやすい幅
}

.post .post-content h2 {
  font-size: 1.4rem !important;
  color: #336699 !important;
}

.post .post-content h3 {
  font-size: 1.2rem !important;
  color: #336699 !important;
}



.svg-icon {
  width: 1.25rem;
  height: 1.25rem;
  vertical-align: middle;
  fill: currentColor;
  margin-right: 0.3rem;
}