---
layout: default
---

<div class="home">
  <div class="marquee">
    <span>🦆💨 　🐓💨 　🗞️💨　　　　　🐈💨　　　　　　　　　　　　　　　　　　　　　　　　　🐇💨</span>
  </div>

  <!-- 練習カテゴリ記事を横スクロールで表示 -->
  <div class="practice-marquee">
    <div class="scroll-content">
      {%- assign practice_posts = site.posts | where_exp: "post", "post.categories contains '練習' or post.categories == '練習'" -%}
      {%- for post in practice_posts -%}
        <a class="practice-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        &nbsp;&nbsp;／&nbsp;&nbsp;
      {%- endfor -%}
    </div>
  </div>

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- assign filtered_posts = site.posts | where_exp: "post", "post.categories contains '練習' " | reverse -%}
      {%- assign excluded_ids = filtered_posts | map: "id" -%}
      {%- assign visible_posts = site.posts | reject: "id", excluded_ids -%}

      {%- for post in visible_posts -%}  <!-- ← ここを変更 -->
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">
          {{ post.date | date: date_format }}
          {%- if post.author -%}
            ・{{ post.author }}
          {%- endif -%}
        </span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 80 }}</p>
        {%- endif -%}
        <hr class="post-divider">
      </li>
      {%- endfor -%}
    </ul>
  {%- endif -%}
</div>

