---
layout: default
---

<div class="home">
  <div class="marquee">
    <span>🦆💨 　🐓💨 　🗞️💨　　　　　🐈💨　　　　　　　　　　　　　　　　　　　　　　　　　🐇💨</span>
  </div>

    <!-- 練習カテゴリ記事を横スクロールで表示 -->
    <div class="practice-scroll">
      <div class="scroll-container">
        {%- assign practice_array = site.posts | where_exp: "post", "post.categories contains '練習'" -%}
        {%- assign practice_string = site.posts | where_exp: "post", "post.categories == '練習'" -%}
    
        {%- for post in practice_array -%}
          <a class="practice-card" href="{{ post.url | relative_url }}">
            {% if post.thumbnail %}
              <img class="practice-thumb" src="{{ post.thumbnail }}" alt="thumbnail">
            {% endif %}
            <span class="practice-date">{{ post.date | date: "%Y-%m-%d" }}</span>
          </a>
        {%- endfor -%}
        {%- for post in practice_string -%}
          <a class="practice-card" href="{{ post.url | relative_url }}">
            {% if post.thumbnail %}
              <img class="practice-thumb" src="{{ post.thumbnail }}" alt="thumbnail">
            {% endif %}
            <span class="practice-date">{{ post.date | date: "%Y-%m-%d" }}</span>
          </a>
        {%- endfor -%}
      </div>
    </div>

 

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
  <ul class="post-list">
    {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
    {% for post in site.posts %}
      {% if post.categories != '練習' %}
        {% if post.categories contains '練習' %}
          {% continue %}
        {% endif %}
        <li>
          <span class="post-meta">
            {{ post.date | date: date_format }}
            {% if post.author %}
              ・{{ post.author }}
            {% endif %}
          </span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {% if site.show_excerpts %}
            <p class="post-excerpt">{{ post.excerpt | strip_html | truncate: 80 }}</p>
          {% endif %}
          <hr class="post-divider">
        </li>
      {% endif %}
    {% endfor %}
  </ul>
{%- endif -%}

</div>

